<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <style>
        /* modla css */
        .modal{display: block;}
        .modal-header, .modal-footer{border: none;}
        button.btn.btn-primary.approvalBtn{
        width: 48%; float: left;
        }
        button.btn.btn-danger.oppositionBtn{
        width: 48%; 
        }

        /* 가져갈 css */
        .subTable{width: 100%; background-color: #f4f4f4;}
        .subTable *{font-size: 14px;}
        .subTable{border:16px solid #f4f4f4;}
   </style>
</head>
<body>



    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#refundInfo">확인하기</button>



    <!-- 환불신청내역 조회  -->
    <!-- The Modal -->
    <div class="modal" id="refundInfo">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">펀딩금 반환처리</h5>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <div class="partnerOrder">
                    <label style="font-size:14px;">서포터가 펀딩금반환 요청한 내역을 확인하고 승인 또는 거절 처리하세요.</label>
                    <table class="">
                        <tr>
                            <th>펀딩번호</th>
                            <td>10491</td>
                        </tr>
                        <tr>
                            <th>서포트명</th>
                            <td>박상이</td>
                        </tr>
                        <tr rowspan="2">
                            <th>[얼리버드]가치가자 세트X1개</th>
                        </tr>
                        <tr>
                            <th>옵션정보..?</th>
                            <td>10658</td>
                        </tr>
                        <tr>
                            <th>총 결제 금액</th>
                            <td>35,000원</td>
                        </tr> 
                    </table>
                </div>
                <br>
                <p>펀딩금 반환 신청 사유</p>
                <table style="width:100%">
                    <tr>
                        <th>사유</th>
                        <td>제품불량</td>
                    </tr>
                    <tr>
                        <th>상세사유</th>
                        <td>불량</td>
                    </tr>
                    <tr>
                        <th>증빙자료</th>
                        <td>파일첨부파일 : 원본명.jpg</td>
                    </tr>
                </table>

                <hr style="width: 100%;">
                <table class="z">
                    <tr>
                        <td colspan="2">반환 금액</td>
                    </tr>
                    <tr>
                        <td>반환 신청 금액</td>
                        <td>35,000원</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            상세금액
                            <table class="subTable">
                                <tr>
                                    <td>리워드 금액</td>
                                    <td>35,000원</td>
                                </tr>
                                <tr>
                                    <td>배송비</td>
                                    <td>0원</td>
                                </tr>
                                <tr>
                                    <td>추가 후원금</td>
                                    <td>0원</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        펀딩금 반환 신청 처리
                        <table class="subTable">
                            <tr>
                                <td><b>승인</b></td>
                            </tr>
                            <tr>
                                <td class="ment">신청 사유가 반환 정책에 해당된다면, 승인처리하세요. 승인처리시, 결제 취소가 진행됩니다.</td>
                            </tr>
                            <tr>
                                <td><b>거절</b></td>
                            </tr>
                            <tr>
                                <td class="ment">신청 사유가 반환 정책에 해당하지 않은 경우, 거절 처리하세요. 결제취소가 진행되지 않습니다.</td>
                            </tr>
                        </table>
                        </td>
                    </tr>
                </table>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary approvalBtn" data-dismiss="modal">승인</button>
                <button type="button" class="btn btn-danger oppositionBtn" data-dismiss="modal">거절</button>
            </div>
        
        </div>
    </div>
    </div>
  
    
</body>
</html>